<div class="row justify-content-center">
    {% for post in posts %}
    <div class="p-2 col-sm-8 col-md-6 col-lg-4 photo-cont" id='post_{{post.id}}'>
        <div class="card">
            <span class="position-absolute category">
                <i class="fas fa-hashtag"></i> {{post.image_category.first}}
            </span>
            <span class="position-absolute location">
                <i class="fas fa-map-marker-alt"></i> {{post.image_location}}
            </span>
            <img src="{{ post.image.url }}" alt="" class="card-img-top img-fluid ">
            <div class="card-title caption h5 position-absolute">
                <span class="m-auto">{{post.image_caption}}
                </span>
            </div>
            <div class="controls position-absolute h-100 w-100">
                <div class="btn-group">
                    <span class="full-screen btn">
                        <i class="fas fa-expand fa-lg"></i>
                    </span>
                    <a href="{% url 'copy_link' post.id %}" class="copy-link btn" data-for="post_{{post.id}}">
                        <i class="fas fa-copy fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="text-center">Couldn't find anything in here :)</p>
    {% endfor %}
</div>

<!-- col-sm-8 col-md-6 col-lg-4 -->