<div class="row justify-content-center">
    <div class="p-2 full">
        <div class="card">
            <span class="position-absolute category">
                <i class="fas fa-hashtag"></i> Travel
            </span>
            <span class="position-absolute location">
                <i class="fas fa-map-marker-alt"></i> Nairobi
            </span>
            <img src="https://wallpapercave.com/wp/jiJZXEJ.jpg" alt="" class="card-img-top ">
            <div class="card-title h5 position-absolute caption">Desc Limit 10</div>
            <div class="controls position-absolute h-100 w-100">
                <span class="full-screen">
                    <i class="fas fa-expand fa-lg"></i>
                </span>
                <span class="copy-link">
                    <i class="fas fa-copy fa-lg"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- col-sm-8 col-md-6 col-lg-4 -->