{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Home</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
    {% block navbar %}
    {% include 'navbar.html' %}
    {% endblock %}

    {% block messages %}
    <div class="container bg-white on-top">
        <div class="row justify-content-center small alert-cont">
            {% if messages %}
            {% for message in messages %}
            <div class="alert col-sm-10 col-md-8 position-absolute alert-dismissable {{ message.tags }}">
                {{ message | safe}} <span class="close"><i class="fas fa-times"></i></span>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endblock %}


    {% block content %}

    {% endblock content %}
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>