.navbar-brand{
    text-shadow: 2px 2px 2px #ffffff;
}
.search-form input, .search-form button{
    border-color: #250148 !important;
    color: rgba(255, 255, 255, 0.87) !important;
}
.search-form input{
    background: transparent !important;
}
.search-form button{
    background: #181818 !important;
}

.category-links a{
    border-color: #181818 !important;
}

.bottom-0{
    bottom: 0;
}