.navbar-brand{
    text-shadow: 2px 2px 2px #ffffff;
}
.search-form input, .search-form button{
    border-color: #250148 !important;
    color: rgba(255, 255, 255, 0.87) !important;
}
.search-form input{
    background: transparent !important;
    color: black !important;
}
.search-form button{
    background: #181818 !important;
}

.category-links a{
    border-color: #181818 !important;
}

.caption{
    bottom: 0;
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.527);
    color: rgba(255, 255, 255, 0.87);
    font-weight: 700;
    display: none;
}
.category, .location{
    font-size: large;
    color: rgba(255, 255, 255, 0.87) !important;
    text-decoration: none !important;
    text-shadow:2px 2px 1px #181818;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    text-transform: capitalize;
}
.location {
    right: 1px;
}
.category {
    left: 1px;
}
.card{
    height: 100%;
    background: transparent;
}
.controls {
    display: none;
    align-items: center;
   justify-content: center;
}
.controls .btn{
   color: rgba(255, 255, 255, 0.87) !important;
   background: rgba(0, 0, 0, 0.527);

}
.full {
    position: fixed; top: 0;
    z-index: 100000;
    background: #181818;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.card img{
    margin: auto;
}
.full .controls {
    display: flex;
    align-items: flex-start;

}
.full .caption {
    mix-blend-mode: luminosity;
    background-color: transparent;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.527);
    font-size: x-large !important;
}

.alert.alert-dismissable, .on-top {
    z-index: 1;
}

.active {
    border-bottom: 3px solid crimson;
}
.alert {
    z-index: 2 !important;
}